
#course-content  {
animation: moveGradient 10s ease-in-out infinite;
padding-bottom: 100px;
}
.banner{
animation: moveImage 12s ease-in-out infinite;
}

@keyframes moveImage {
  0%   { background-position: center 50%; }
  33%  { background-position: center 53%; }
  66% { background-position: center 47%; }
  100% { background-position: center 50%; }
}

@keyframes moveGradient {
  0%   { background-position: center 0%; }
  50%  { background-position: center 100%; }
  100% { background-position: center 0%; }
}

.module {
  animation: floatUpDown 4s ease-in-out infinite;
 transition: 0.5s;
}

@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}


.reveal {
opacity: 0;
transform: translateY(200px);
transition: 1.5s;
}

.x {
    transform: translateX(400px);
}

.reveal.visible {
  opacity: 1; 
  transform: translateY(0px);
  transform: translateX(0px);
}

.module {
transition: 0.7s;
}