@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway";
}
body {
    user-select: none; /* Padrão moderno */
    
  }
body, html {
    margin: 0;          /* Remove margens */
    padding: 0;         /* Remove paddings */
  }
  a {
    text-decoration: none;
  }

.banner{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/11264744.jpg");
    background-position: center;
    background-attachment: fixed;
    margin-top: 0;
    position: relative;
}

.banner-content {
    backdrop-filter: blur(5px) brightness(0.8);
    width: 100vw;
    padding: 30px 0;
    height: 100%;
}

.logo {
    width: 25%;
    height: auto; 
    margin: 0 auto;
    box-sizing: border-box;
}

#bannergojo {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#subscribe.clicked {
    transform: scale(0.95);
  }

header h1 {
    font-family: 'boldonse';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.125em;
    margin: 0.4em;
    letter-spacing: .1875em;
    word-spacing: .34em;
    color: rgb(154, 196, 232);
}
header p {
    font-size: 25px;
    color: aliceblue;
    letter-spacing: 2px;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0; 
}
#subscribe {
    all: unset;
    cursor: pointer;
    border: 6px solid royalblue; 
    width: 350px;
    height: 80px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'boldonse';
    font-weight: bold;
    color: royalblue;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#subscribe:hover {
    transform: scale(1.05);
}
#subscribe:active {
    transform: scale(0.98);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  }

  .bannermain { 
    width: 100%;
    height: 640px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #0a0a0a;
    background-position: center;
    margin-top: 0;
}
main{
    margin: 0;
    border-bottom: 2px solid rgb(188, 185, 185);
    border-top: 2px solid rgb(188, 185, 185);
}
#course-content h2 {
    margin: 0;
    color: #9AC4E8;
    padding-top: 90px;
    text-transform: uppercase;
    word-spacing: 6px;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 08px;
}
#course-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#44536E,#05070b);
    background-size: 100% 200%;
}
#course-content p{
    font-size: 16px;
    color: #c0d7ec;
    letter-spacing: 1px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
.modules-list  {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas do mesmo tamanho */
    gap: 10px;
    place-items: center;
    }

.module {
    margin: 20px;
    justify-content: center;
    color: white;
    display: flex;
    width: 25em;
    height: 11em;
    border: 2px solid rgb(212, 213, 217);
    border-radius: 20px;
    text-align: center;
    background-color: #121621;
}
.module span{ 
    padding-top: 20px;
    font-size: 18px;
}
.module .modules {
    color: rgb(85, 146, 197);
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-right: 2px;
}
.tenkai {
    width: 100%;
    height: 500px;
    display: flex;
    background-image: url("https://staticg.sportskeeda.com/editor/2023/09/63843-16939837700600-1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0;
    position: relative;
}
#jujutsukaisen {
    color: rgb(0, 0, 0);
    font-family: 'boldonse';
    font-weight: bold;
    font-size: 55px;
    position: relative; 
    z-index: 2;
    height: 200px;
    width: 400px;
    text-transform: lowercase;
    margin-left: 550px;
    margin-top: 60px;
    text-shadow: 3px 2px 0 #DCDCDC;
}
#professional-challenges {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgb(21, 21, 21), royalblue, rgb(15, 15, 76));
    position: relative; /* Para posicionar a imagem corretamente */
    text-align: center; /* Centraliza o h2 e o p */
    -webkit-user-drag: none;
    pointer-events: none;
    background-size: 100% 200%;
}

#professional-challenges p {
    color: rgb(255, 255, 255);
    margin-top: 350px;
    max-width: 70%; /* Para o texto não ficar muito largo */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 6px;
}

#comeco {
    max-width: 15%;  /* Limita a largura ao container */
    height: auto;     /* Mantém a proporção */
    border: 10px ;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

section {
    border-bottom: 2px solid rgb(239, 239, 239);
    border-top: 2px solid rgb(227, 227, 227);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
 
  .bannermain {
    flex: 1; 
    width: 100%;
    background-color: black;
  }
  
  /* === Footer fixo no final === */
  footer {
    background-image: linear-gradient(to bottom, black, rgb(17, 19, 39));
    height: 200px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 0; /* Removendo o deslocamento negativo */
}
footer a {
    text-decoration: none;
    color: rgb(90, 65, 214);
}
  footer img {
    height: 80px;
    margin: 0 auto;
    display: block;
  }
  .gojo-logo {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    display: block;         /* evita espaço extra embaixo da imagem */
    margin: 0 auto;         /* centraliza se quiser garantir */
    width: 100px;           /* garante o tamanho que você quer */
    height: 100px;
    
  }
    #fim {
        position: absolute;
        top: 40%;         
        left: 50%;         
        transform: translate(-50%, -50%); 
        height: 400px;     
        z-index: 2;        
    }
   
    #socorro h2{
        background-image: url('https://cdnb.artstation.com/p/assets/images/images/069/755/579/large/therizzler-ninjuras-screenshot-2023-10-24-215149.jpg?1700923309');
        background-size: cover;
        background-position: right;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4em;
        font-weight: 800;
        text-transform: uppercase;
        word-spacing: 2px;
        letter-spacing: 1px;
        margin-top: 50px; /* Ajusta a posição */
        padding: 20px;
    }
